<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookBook</title>
</head>
<body>
    <nav>
        <a href="/signUp">Sign up</a>
        <a href="/signIn">Sign in</a>
    </nav>
    
    <h1>COOOOOKBOOOK</h1>

</body>
</html>